@model MetroUIPrueba2.Models.Recurso
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Gerencia/Views/Shared/_IntranetLayoutGerencia.cshtml";
}

<style>
    #principal {
        width: 800px;
        height: 600px;
        top: 50%;
        margin-top: 55px;
        border: 1px solid green;
        padding-top: 10px;
        padding-left: 60px;
        position: relative;
    }
</style>

@Html.ValidationSummary()
<div class="user_session">
    <h6>Usuario: Juan Perez</h6>
</div>
<div class="container" id="principal">
    <h3>Nuevo Recurso</h3>
    <hr />
    <form class="bg-white p-6 mx-auto border bd-default win-shadow" method="POST" action="@Url.Action("Create","Recurso")">
        <table>
            <tr>
                <td style="padding-right:15px;">Descripción:</td>
                <td style="padding:10px;"><input style="width:400px;" type="text" data-role="input" name="Descripcion" data-append="" class="input-lg"></td>
            </tr>

            <tr>
                <td style="padding-right:15px;">UMedida</td>
                <td style="padding:10px;">
                    <input style="width:400px;" type="text" data-role="input" name="UMedida" data-append="" class="input-lg">
                </td>
            </tr>
        </table><br />
        <div class="form-group">
            <button type="submit" class="button success">Registrar</button>
            <input type="button" class="button" value="Cancel">
        </div>
    </form>

</div>

