
@{
    ViewBag.Title = "Create";
}

@model MetroUIPrueba2.Models.Cliente
<style>
    fieldset {
        border: 1px solid #0366d6;
        text-align: start;
        text-space-collapse: preserve;
        padding-bottom: 20px;
        padding-top: 15px;
        margin-top: 50px;
    }
    legend {
        font-size: 10px;
    }
    label {
        margin-left: 5px;
    }
</style>

@Html.ValidationSummary()
<div class="container bg-white p-6 mx-auto border bd-default win-shadow"
     style="margin-top:100px; max-width: 600px">
    <label>Registro de Usuario</label>
    <form method="POST" action="@Url.Action( "Nuevo", "User" )">
        <div class="form-group" style="display: flex; justify-content:space-between; align-items: center">
            <label>Nombres:</label>
            <input type="text" placeholder="Nombres..." style="width: 320px" name="Nombres" />            
        </div>
        <div class="form-group" style="display: flex; justify-content:space-between; align-items: center">
            <label>Apellidos:</label>
            <input type="text" placeholder="Apellidos..." style="width: 320px;" name="Apellidos" />            
        </div>
        <div class="form-group" style="display: flex; justify-content:space-between; align-items: center">
            <label>Email:</label>
            <input type="email" placeholder="Email..." style="width: 320px" name="Email" />            
        </div>
        <div class="form-group" style="display: flex; justify-content:space-between; align-items: center">
            <label>Teléfono:</label>
            <input type="text" placeholder="Teléfono..." style="width: 320px;" name="Telefono" />            
        </div>
        <div class="form-group" style="display: flex; justify-content:space-between; align-items: center">
            <label>RUT</label>
            <input type="text" placeholder="RUT..." style="width: 320px" name="RUT" />            
        </div>
        <div class="form-group">
            <input type="submit" class="button primary outline" value="Ingresar" style="width:100px" />
            <input class="button primary outline" value="Atrás" style="width:100px" />
        </div>
    </form>
    
</div>


<script>
    function goBack() {
        window.history.back();
    }
</script>